/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ********************* Custom Styles ****************** */

:root {
    /* Backgrounds */
    /* (main background) */
    --Light-gray: hsl(0, 0%, 90%);
    /* (toggle background, keypad background) */
    --Grayish-red: hsl(0, 5%, 81%);
    /* (screen background) */
    --Very-light-gray: hsl(0, 0%, 93%);
    /* Keys */
    /* (key background) */
    --Dark-moderate-cyan: hsl(185, 42%, 37%);
    /* (key shadow) */
    --Very-dark-cyan: hsl(185, 58%, 25%);
    /* (key background, toggle) */
    --Orange: hsl(25, 98%, 40%);
    /* (key shadow) */
    --Dark-orange: hsl(25, 99%, 27%);
    /* (key background) */
    --Light-grayish-yellow: hsl(45, 7%, 89%);
    /* (key shadow) */
    --Dark-grayish-orange: hsl(35, 11%, 61%);
    /* Text */
    --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
    /* (text) */
    --White: hsl(0, 0, 100%);
}

body {
    font-size: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--Light-gray);
    font-family: 'Spartan', sans-serif;
}


/* *****************  Main section **************** */

main {
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
}


/* Header section of the card */

header {
    padding: 1.5rem 0;
}


/* title of the card */

header .title {
    font-size: 2rem;
    color: var(--Very-dark-grayish-yellow);
}


/* Screen or display box */

.display-box {
    width: 100%;
    height: 5rem;
    margin-bottom: 3rem;
    background: var(--Very-light-gray);
}


/* Display input */

#display {
    width: 100%;
    height: 100%;
    border: none;
    padding: 3rem;
    outline: none;
    line-height: 1;
    font-size: 2rem;
    font-weight: 700;
    text-align: right;
    border-radius: 10px;
    color: var(--Very-dark-grayish-yellow);
}


/* Buttons box */

.btns-box {
    padding: 2rem;
    border-radius: 10px;
    background: var(--Grayish-red);
    /* layout style */
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button.btn {
    width: 100%;
    height: 100%;
    border: none;
    line-height: 1;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 0 0.75rem;
    border-radius: 10px;
    color: var(--Very-dark-grayish-yellow);
    background: var(--Light-grayish-yellow);
    border-bottom: 5px solid var(--Dark-grayish-orange);
}

.btn-box,
button.btn {
    display: grid;
    place-items: center;
}

button.del,
button.reset {
    color: #fff;
    font-size: 1rem;
    border-bottom: 5px solid var(--Very-dark-cyan);
    background: var(--Dark-moderate-cyan);
}

button.equal {
    color: #fff;
    font-size: 1.5rem;
    border-bottom: 5px solid var(--Dark-orange);
    background: var(--Orange);
}


/* Arranging the buttons in the btns box */

button[data-key="1"],
button[data-key="4"],
button[data-key="7"],
button[data-key="decimal"] {
    grid-column: 1 / span 1;
}

button[data-key="2"],
button[data-key="5"],
button[data-key="8"],
button[data-key="0"] {
    grid-column: 2 / span 1;
}

button[data-key="3"],
button[data-key="6"],
button[data-key="9"],
button[data-key="div"] {
    grid-column: 3 / span 1;
}

button[data-key="del"],
button[data-key="plus"],
button[data-key="minus"],
button[data-key="mul"] {
    grid-column: 4 / span 1;
}

button[data-key="reset"] {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
}

button[data-key="equal"] {
    grid-column: 3 / 5;
    grid-row: 5 / span 1;
}

button[data-key="7"],
button[data-key="8"],
button[data-key="9"],
button[data-key="del"] {
    grid-row: 1 / span 1;
}

button[data-key="4"],
button[data-key="5"],
button[data-key="6"],
button[data-key="plus"] {
    grid-row: 2 / span 1;
}

button[data-key="1"],
button[data-key="2"],
button[data-key="3"],
button[data-key="plus"] {
    grid-row: 3 / span 1;
}

button[data-key="decimal"],
button[data-key="0"],
button[data-key="div"],
button[data-key="mul"] {
    grid-row: 4 / span 1;
}


/* ********************* Footer ********************* */

footer {
    margin-top: 3rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}