/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ************ Custom CSS ************ */

:root {
    /* Primary Colors */
    --Soft-Cyan: hsl(174, 77%, 80%);
    /* (Full Slider Bar) */
    --Strong-Cyan: hsl(174, 86%, 45%);
    /* (Slider Backround) */
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    /* (Discount Background) */
    --Light-Red: hsl(15, 100%, 70%);
    /* (Discount Text) */
    --Pale-Blue: hsl(226, 100%, 87%);
    /* (CTA Text) */
    /* Neutral Colors*/
    --White: hsl(0, 0%, 100%);
    /* (Pricing-Component Background) */
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    /* (Main Background) */
    --Light-Grayish-Blue: hsl(224, 65%, 95%);
    /* (Empty Slider Bar */
    --Light-Grayish-Blue: hsl(223, 50%, 87%);
    /* (Toggle Background) */
    --Grayish-Blue: hsl(225, 20%, 60%);
    /* (Text) */
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
    /* (Text & CTA Background) */
}

body {
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background: url(./images/bg-pattern.svg) no-repeat;
}


/* ********** Header ***********  */

header {
    margin: 3rem auto;
    padding: 1.75rem 0;
    text-align: center;
    color: var(--Grayish-Blue);
    background: url(./images/pattern-circles.svg) center no-repeat;
}

header .title {
    line-height: 1.2;
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
    color: var(--Dark-Desaturated-Blue);
}

header .desc-txt {
    display: block;
}


/* ********* Main ************* */

main .card {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: var(--Grayish-Blue);
    box-shadow: 5px 10px 20px var(--Light-Grayish-Blue);
    background: var(--White);
}

.card__upperHalf {
    padding: 2rem;
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.card__upperHalf .pageviews {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card__upperHalf .slider-ctn {
    margin: 2rem auto;
}

.slider-ctn #slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.slider-ctn #slider:focus {
    cursor: grabbing;
}

#slider::-webkit-slider-runnable-track,
#slider::-moz-range-track {
    background: var(--Soft-Cyan);
    height: 0.75rem;
    border-radius: 50px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#slider::-webkit-slider-thumb,
#slider::-moz-range-thumb {
    height: 3rem;
    width: 3rem;
    position: relative;
    border-radius: 50%;
    background: var(--Strong-Cyan);
    background-image: url('./images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 20px 20px var(--Soft-Cyan);
}

#slider::-moz-range-thumb {
    border: none;
}

.card__upperHalf .pricing-ctn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.pricing-ctn .pricing-plan {
    font-size: 2rem;
    font-weight: 800;
    color: var(--Dark-Desaturated-Blue);
}

.billing-choice-ctn {
    display: flex;
    font-size: 0.95rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.billing-choice-ctn .toggle-btn-ctn {}

.billing-choice-ctn .toggle-btn-ctn #toggle {
    display: none;
}

.billing-choice-ctn .toggle-btn-ctn label {
    width: 3rem;
    display: flex;
    height: 1.5rem;
    position: relative;
    border-radius: 50px;
    align-items: center;
    justify-content: flex-start;
    background: var(--Soft-Cyan);
}

.billing-choice-ctn .toggle-btn-ctn label::before {
    content: "";
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50px;
    background: var(--White);
    transition: all 300ms ease-in;
    animation-name: switch;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes switch {
    0% {
        left: 3px;
    }
    100% {
        left: 27px;
    }
}

.toggle-btn-ctn #toggle:checked+label::before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

@keyframes reverse {
    0% {
        left: 27px;
    }
    100% {
        left: 3px;
    }
}

.billing-choice-ctn .toggle-btn-ctn #toggle:checked~.billing-choice-ctn .toggle-btn-ctn label::before {
    transform: translateX(1.55rem);
}

.yearly-plan .discount {
    position: absolute;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    color: var(--Light-Red);
    border-radius: 50px;
    background: var(--Light-Grayish-Red);
}

.card__lowerHalf {
    padding: 2rem 1.5rem;
}

.card__lowerHalf .features-ctn p {
    margin-bottom: 0.5rem;
}

.card__lowerHalf .features-ctn p svg {
    margin-right: 1rem;
}

.card__lowerHalf .trial-btn-ctn {
    margin-top: 2rem;
}

.trial-btn-ctn .submit-btn {
    font: inherit;
    font-weight: 800;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 50px;
    color: var(--Pale-Blue);
    background: var(--Dark-Desaturated-Blue);
}

.trial-btn-ctn .submit-btn:hover {
    color: var(--White);
}


/* ************** Footer **************  */

footer {
    margin: 3rem auto;
}

.attribution {
    font-size: 12px;
    color: var(--Grayish-Blue);
    text-align: center;
}

@media screen and (min-width: 780px) {
    .card {
        max-width: 650px;
    }
    header {
        padding: 2rem;
    }
    header h1.title {
        font-size: 2.5rem;
    }
    header .desc-txt {
        display: inline-block;
    }
    .card__upperHalf {
        display: grid;
        justify-items: start;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "pageview price" "slider slider" "billing billing";
    }
    .card__upperHalf .pageviews {
        grid-area: pageview;
    }
    .card__upperHalf .slider-ctn {
        justify-self: center;
        width: 100%;
        margin-bottom: 3rem;
        grid-area: slider;
    }
    .card__upperHalf .pricing-ctn {
        margin: 0;
        justify-self: self-end;
        grid-area: price;
    }
    .card__upperHalf .billing-choice-ctn {
        grid-area: billing;
        justify-self: center;
    }
    .card__upperHalf .pricing-plan {
        font-size: 3rem;
    }
    .card__upperHalf,
    .card__lowerHalf {
        padding: 2.5rem 3.5rem;
    }
    .card__lowerHalf {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card__lowerHalf .features-ctn {
        text-align: left;
    }
    .card__lowerHalf .trial-btn-ctn {
        margin: 0;
    }
}