* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --very-dark: #0C0C0C;
    --dark-grey: #181B26;
    --fade-grey: #171B1F;
    --pink: #DA3C80;
    --blue: #8873DE;
    --fade-white: #DADADA;
}

body {
    font-family: 'Sora', sans-serif;
    font-weight: 100;
    background-color: var(--very-dark);
    color: #fff;
}

nav,
main,
footer {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem 0;
}

main {
    margin-top: 4rem;
}

.logo {
    font: 700 normal 1.8rem / 2rem 'Sora', sans-serif;
}

.digital-ctn {
    width: fit-content;
    margin: 0 auto;
}

.today-txt {
    font: 100 normal 0.85rem/1.5rem 'Sora', sans-serif;
    color: var(--fade-white);
}

.date {
    font: 400 normal 2rem/1.5rem 'Sora', sans-serif;
    color: var(--fade-white);
    margin-top: 0.25rem;
}

.digital-time-ctn {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 1.5rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    background: transparent;
    background-color: var(--dark-grey);
}

.digital-time span {
    width: 90px;
    display: inline-block;
    font: 700 normal 2.75rem/3rem 'Sora', sans-serif;
}

.digital-time span:nth-child(3) {
    width: 75px;
}


/* span.am_pm {
    width: fit-content;
    font: 100 normal 0.85rem/1.5rem 'Sora', sans-serif;
} */

.analog-ctn {
    margin: 5rem 0 3rem;
}

.analog-clock {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
    background-color: var(--fade-grey);
    box-shadow: -5px -5px 20px var(--pink), 5px 5px 20px var(--blue), inset 10px 10px 80px var(--very-dark);
}

.hand {
    width: 8rem;
    height: 2px;
    top: 50%;
    left: 2rem;
    position: absolute;
    transform-origin: 100%;
    /* transform: rotate(90deg); */
    background: var(--fade-white);
}

.hour-hand {
    width: 6rem;
    left: 4rem;
}

.sec-hand {
    background-color: #DA3C80;
}

footer {
    margin-top: 5rem;
    font-size: 0.95rem;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    main {
        display: flex;
        max-width: 68rem;
        padding: 5rem 5rem;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
        box-shadow: 5px 10px 20px #050505, -5px -10px 20px #050505;
        background: rgba(24, 27, 38, 0.45);
    }
    .digital-ctn,
    .analog-ctn {
        margin: 0;
    }
    .today-txt {
        font: 100 normal 1.2rem/1.5rem 'Sora', sans-serif;
        color: var(--fade-white);
    }
    .date {
        font: 400 normal 2.5rem/1.5rem 'Sora', sans-serif;
        margin-top: 1rem;
    }
    .digital-time-ctn {
        padding: 1.2rem 2.25rem;
        background: linear-gradient(90deg, var(--pink), var(--blue));
    }
    .digital-time span {
        width: auto;
        padding-right: 1rem;
        display: inline-block;
        font: 700 normal 4rem/4rem 'Sora', sans-serif;
    }
    .digital-time span:nth-child(3) {
        width: 90px;
    }
}